html,body{background:#69c;margin:0;padding:0;}

#doc{background:#fff;border:1em solid #fff;}

h1{font-family:Calibri,Arial,Sans-serif;font-size:200%;margin:0 0 .5em 0; padding:0;}

h2{font-family:Calibri,Arial,Sans-serif;font-size:150%;margin:1em 0;padding:0;font-weight: bold}

#ft{color:#ccc;font-size:80%;position:relative;text-align:right;margin:3em 0 0 0 ;}

#ft a{color:#999;}

#tabs .yui-u{background:#ccc;color:#999;}

#tabs .yui-u {position:relative;}

#tabs .current{background:#369;color:#fff;}

#tabs h2,#tabs p{margin:.3em 0;padding:0 0 0 35px;}

#tabs span{font-size:220%;position:absolute;top:0;left:.07em;}

#map{width:100%;height:300px;}

#map table,#map td {border:none;padding:0;}

.intro{font-size:120%;padding:.5em;background:#369;color:#fff;line-height:1.5em;}

#url{width:628px;}

textarea{width:100%;height:100px;}

.error{border:2px solid #c00;background:#fcc;color:#c00;font-weight:bold;padding:1em;margin-bottom: 15px}

form div{position:relative;}

form div.submit{text-align:right;padding:.5em;background:#369;margin:.5em 0;}

#loadcontent{position:absolute;right:0;bottom:0}

#url{height:1.6em;}

#messagedisplay {padding:1em;border:1px solid #999;background:#eee;}

#messagedisplay strong{background:#3f3;padding:2px;color:#000;}

#foundresults th{color:#fff;background:#369;}

#foundresults tr.odd{background:#ccc;}

h3,.yui-skin-sam #doc table caption{ font-family:Calibri,Arial,Sans-serif;font-size:120%;text-align:left;font-weight:bold;font-style:normal;}

p a,li a{color:#369;}

p code{color:#333;font-weight:bold;}

#feed div{margin:.1em 0;font-weight:bold;}

#feed div input{margin-right:1em;}

#feed h3{margin:.5em 0 0 0;padding:.2em .4em;background:#69c;color:#fff;font-size:120%;}

#feed h3 a{text-decoration:none;color:#000;}

p{padding-top: 10px;padding-bottom: 10px}

#rsscheck{padding-left:110px;padding-top:5px;}

.info a,.info{font-size:90%; color:#666;font-style: oblique;color: #888}